body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}
.section {
    height: 100vh;
    padding: 10vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.morning { background-image: url('starfish.png');
background-size: cover;
background-position: center; background-repeat: no-repeat;}
.mid-day { background-color: #20B2AA; }
.afternoon { background-color: #DAA520; }
.evening { background-color: #483D8B; }
.night {
            background-image: url('night.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
}
.sticker {
    position: absolute;
    z-index: 1; filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
}
h1, h2, p {
    position: relative;
    z-index: 10;
}
#grumpy-whale {
    top: 30%; right: 5%; width: 350px;
}
.section h1, .section p, .section .sticker {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease-out;
}
.section.visible h1, .section.visible p, .section.visible .sticker {
    opacity: 1;
    transform: translateY(0);
}
.glass-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 20px; width: 80%; max-width: 600px; margin: 5vh auto 0 auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); position: relative; z-index: 10;
}
#chill-raft {
    top: 60%; left: 60%; width: 350px; z-index: 3
}
#global-ray {
   position: fixed; top: 35%; left: 4%; width: 600px; z-index: 5; pointer-events: none;
}
#night-bubbles {
    bottom: 20%; left: 45%; width: 150px; opacity: 0.4;
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
.float-slow {
    animation: float 4s ease-in-out infinite;
}
.float-fast {
    animation: float 2s ease-in-out infinite;
}
.night {
        background-image: url('night.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white; }
        
        #sleepy-starfish {
        bottom: 10%;
        right: 15%; 
        width: 350px; 
    }
#cute-music-btn {
    position: fixed; top: 20px; right: 20px; z-index: 100; cursor: pointer;
    background-color: #eebbd4; border: 3px solid #783090; color: #f5ff33;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.2rem; font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.2s ease;
}
#cute-music-btn:hover {
    transform: scale(1.1);
}